In [1]:
import numpy as np
import pandas as pd
from pydataset import data

EX 2

In [2]:
pb2=pd.read_csv("titanic.csv")

pb2.pivot_table(values="Survived",\
columns=["Embarked"],\
aggfunc="mean", fill_value='-')

pb2.pivot_table(values="Survived",\
index=["Sex"],columns=["Embarked"],\
aggfunc="mean", fill_value='-')

Embarked         C         Q         S
Sex
female    0.902655  0.616667  0.680412
male      0.305732  0.111111  0.170144